
<%= form_with(model: award, local: true) do |form| %>
  <% if award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
      <% award.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field row">
      <%= form.label :name, class: "col-form-label col-sm-3 col-md-2" %>
      <div class="col-sm-9 col-lg-8">
      <%= form.text_field :name, id: :award_name, class: 'form-control ', placeholder: "Name of the award" %>
      </div>
  </div>

  <div class="form-group field row">
    <%=  form.label :link, class: "col-form-label col-sm-3 col-md-2" %>
    <div class="col-sm-9 col-lg-8">
    <%=  form.text_field :link, id: :award_link, class: 'form-control', placeholder: "URL to find more information or apply" %>
  </div>
  </div>

  <div class="form-group field row">
    <%= form.label :description, class: "col-form-label col-sm-3 col-md-2" %>
    <div class="col-sm-9 col-lg-8">
    <%= form.text_area :description, id: :award_description, class: 'form-control', rows: "10", placeholder: "A brief description of the award. Who is eligible? What are the selection criteria?" %>
    </div>
  </div>

  <div class="form-group field row">
    <%= form.label :nomination_close_date, class: "col-form-label col-sm-3 col-md-2" %>
    <div class="col-sm-9 col-lg-8">
    <%= form.date_field :nomination_close_date, id: :award_nomination_close_date, format: :short, class: 'form-control', placeholder: "MM/DD/YYYY" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn-primary btn-lg' %>
  </div>
<% end %>
